@media screen and (max-width: 1400px){
    #profile {
        height: 83vh;
        margin-bottom: 2rem;
    }

    .about container {
        flex-wrap: wrap;
    }
}




@media screen and (max-width: 1200px){
    #desktop-nav {
        display: none;
    }

    /* Content is showed in the hambuger-nav when 
    desktop is disabled */
     
    #hamburger-nav{
        display: flex;
    }

    
    #about
    {
        margin-top: 1px; 

    }
    #experience,
    .experience-details-container{
        margin-top: 2rem;
        margin-bottom: 70px;
    }

    #projects,
    .experience-details-container{
        margin-top: 2rem;
        margin-bottom: 70px;
        margin-left: 7px;
    }

    #projects1,
    .experience-details-container{
        margin-top: 2rem;
        margin-bottom: 70px;
        margin-left: 7px;
    }

    #projects1,
    .experience-details-container{
        margin-top: 2rem;
        margin-bottom: 70px;
        margin-left: 7px;
        
    }
 
   /* This belongs to the rocketboost article-container9 */
    .article-container9{
        margin-top: 2rem;
        margin-bottom: 70px;
        
    }
    
  

 
    #Art-work, .experience-details-container{
        margin-top: 7rem;
        margin-bottom: 50px;
        
    }

    #Art-work1, .experience-details-container{
        margin-top: -5rem;
        margin-bottom: 50px;
    }

    #Art-work2, .experience-details-container{
        margin-top: 2rem;
        margin-bottom: 70px;
    }

    #Volunteering, .experience-details-container{
        margin-top: 2rem;
        margin-bottom: 70px;
    }

    #Volunteering1, .experience-details-container{
        margin-top: 2rem;
        margin-bottom: 70px;
    }

  

    #profile,
        .section-container{
           display: block;
        }

     .arrow{
        display: none;
     }

     section,
     .section-container{
        height: fit-content;
     }

     section{
        margin: 0 5%;
     }

     .section__pic-container{
        width: 275px;
        height: 275px;
        margin: 0 auto 2rem;
     }

     .about-containers{
        margin-top: 0;
     }
    }

    @media screen and (max-width: 600px){
        #contact,
        footer{
            height: 40vh;
        }

        #profile{
            height: 83vh;
            margin-bottom: 0;
        }

        article{
            font-size: 1rem;
        }

        footer nav{
            height: fit-content;
            margin-bottom: 2rem;
        }

        .about-containers, 
        .contact-info-upper-container, 
        .btn-container, .btn-container1{
           flex-wrap: wrap;
        }

        .contact-info-container{
            margin:0;
        }

        .contact-info-container p,
        .nav-links li a {
            font-size: 1rem;
        }

        .experience-sub-title{
            font-size: 1.25rem;
        }

        .logo{
            font-size: 1.5rem;
        }

        .nav-links{
            flex-direction: column;
            gap: 0.5rem;
            text-align: center;
        }

        .section__pic-container{
            width: auto;
            height: 46vw;
            justify-content: center;
        }

        .section__text__p2{
            font-size: 1.25rem;
        }

        .title{
            font-size: 2rem;
           
        }

        .text-container{
            text-align:justify;
        }

        #contact, .contact-info-container
        {
            margin-right: 9.5px;
        }
    }

  /* Splash Screen */
.splash{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 500vh;
    background: black;
    z-index: 200;
    color: white;
    text-align: center;
    line-height: 90vh;
    overflow: hidden;
 }
 
 .splash.display-none{
    position: fixed;
    opacity: 0;
    top:0;
    left:0;
    width: 100%;
    height: 100vh;
    background: black;
    z-index: -10;
    color: white;
    text-align: center;
    line-height: 90vh;
 }
 
 @keyframes fadeIn{
    to{
       opacity: 1 ;
    }
 }
 
 .fade-in {
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
    font-weight: 900;
    font-size: 6px; /* Increase font size for better visibility */
    color: white; /* Ensure text color is visible on dark background */
    line-height: 1.5; /* Improve readability */
}
 
 .Continue {
    font-weight: 600;
    transition: all 300ms ease;
    padding: 0.5rem;
    width: 8rem;
    border-radius: 2rem;
    position: fixed; 
    top: 45%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    display: flex;
    justify-content: center;
    gap: 1rem;
    background-color: grey; 
    border: none;
    font-size: 6px;
    cursor: pointer;
    font-style: italic;
    color: #080303;
 }
 
 .Continue:hover{
    background: rgb(195, 102, 102);
 }

 .Volunteer{
    color:rgb(23, 2, 2);
    font-size: 1rem;
    
 }

   